@{
    ViewData["Title"] = "Account";
    Layout = "_Layout_Tutor";
}

<main>
    <div class="row justify-content-between" style="padding : 30px">
        <div class="col-md-5 mb-4">
            <div class="card">
                <div class="card-header">
                    User Data
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewBag.FirstName))
                    {
                        <p>First Name: @ViewBag.FirstName</p>
                    }
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewBag.Lastname))
                    {
                        <p>Last Name: @ViewBag.LastName</p>
                    }
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewBag.UserEmail))
                    {
                        <p>Email: @ViewBag.UserEmail</p>
                    }
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewBag.Phone))
                    {
                        <p>Phone: @ViewBag.Phone</p>
                    }
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("ChangeData")" class="btn btn-success mr-2">Change user data</a>
                    <a href="@Url.Action("ChangePassword")" class="btn btn-success">Change password</a>
                </div>
            </div>
        </div>

        <div class="col-md-5 mb-4">
            <div class="card">
                <div class="card-header">
                    Payments
                </div>
                <div class="card-body">
                    <p>Charge to pay: @ViewBag.Charge</p>
                </div>
                <a href="@Url.Action("Pay")" class="btn btn-success">Payments</a>

            </div>
        </div>
    </div>
</main>
