@model TutorManager.Models.UserModel
@{
    ViewData["Title"] = "Account";
    Layout = "_Layout_Student";
}

<div class="container">
    <main role="main" class="pb-3">

        @using (Html.BeginForm("ChangePassword", "Student", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <form>

                <fieldset>
                    <legend style="padding-top : 10px">Change Password</legend>
                    <div>
                        @Html.LabelFor(model => model.Password, "New password", new { @for = "exampleInputPassword1", @class = "form-label mt-4" })
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "exampleInputPassword1", @placeholder = "Set your new password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "badge badge-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.ConfirmPassword, "Repete new password", new { @for = "exampleInputPassword1", @class = "form-label mt-4" })
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "exampleInputPassword1", @placeholder = "Repete your new password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Change Password" />
                    </div>
                </fieldset>

            </form>
        }
    </main>
</div>