@{
    ViewData["Title"] = "Account";
    Layout = "_Layout_Student";
}

<div class="container">
    <main role="main" class="pb-3">

        <h3>Confirmed lessons</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Date and Time</th>
                    <th>Tutor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in ViewBag.Lessons)
                {
                    var tutor = lesson.Tutor as TutorManager.Models.TutorModel;

                    @if (lesson.LessonStatus == "Pending") continue;
                    <tr>
                        <td>@lesson.Subject</td>
                        <td>@(lesson.LessonDateTime.ToString("dd/MM/yyyy HH:mm"))</td>
                        <td>@tutor.FirstName @tutor.LastName</td>
                    </tr>
                }

            </tbody>
        </table>

        <h3>Pending lessons</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Date and Time</th>
                    <th>Tutor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in ViewBag.Lessons)
                {
                    var tutor = lesson.Tutor as TutorManager.Models.TutorModel;
                    @if (lesson.LessonStatus == "Accepted") continue;
                    <tr>
                        <td>@lesson.Subject</td>
                        <td>@(lesson.LessonDateTime.ToString("dd/MM/yyyy HH:mm"))</td>
                        <td>@tutor.FirstName @tutor.LastName</td>
                    </tr>
                }

            </tbody>
        </table>
    </main>
</div>
